_site/
Gemfile.lock
*.DS_Store
*.texpadtmp
*.aux
*.fls
*.fdb_latexmk
*.log
*.synctex.gz
*.sublime-project
*.sublime-workspace
*.swp
.jekyll-metadata
*.pdf
*~
.nsf*
.bundle
_sandbox
*.bak
.jekyll-cache/
*.zip
sandbox/
*.dSYM/
*.o
*.s
